html {
   background-color: black; 
}

body {
    background-color: greenyellow;
}

header {
    background-color: grey;
}

.info {
    background-color: silver;
    text-decoration: black;
}

img {
    height: 500px;
}

h3{
    background-color: silver;
    text-decoration: black;
}