html {
    background-color: black;
}

body {
    background-color: greenyellow;
    height: 90vh;
}

header {
    background-color: grey;
}

.meat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.info {
    background-color: silver;
    text-decoration: black;
    text-align: center;
}

img {
    width: 500px;

}

h3 {
    background-color: silver;
    text-decoration: black;
    text-align: center;
}